<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Box | Coffee In A Box</title>
  </head>
  <body>

    {{! Navbar: Admin Access }}
    <nav class="navbar navbar-expand-lg px-5 py-3 mx-auto text-dark">
      <div class="container-fluid">
        <div class="brand">
          <a class="navbar-brand pr-5 mr-5" href="/"><img
              class="brand-logo"
              src="/images/coffee-logo.png"
              alt="brand-logo"
            />Coffee In A Box</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 pl-5 ml-5">
            <li class="nav-item mx-1">
              <a
                class="nav-link"
                href="/subscription/presentation"
              >SUBSCRIPTION</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/box">OUR PREVIOUS BOXES</a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" href="/box/create">🟢CREATE BOX</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{! Main Section }}
    <div class="container">

      <form
        class="edit-box-form"
        action="/box/update/{{box.id}}"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Edit Box</h4>
          <form class="needs-validation" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="boxTitle" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="BoxTitle"
                  placeholder="Box Title"
                  name="title"
                  value="{{box.title}}"
                  required
                />
                <div class="invalid-feedback">
                  Box title is required.
                </div>
              </div>

              <div class="col-12">
                <label
                  for="boxDescription"
                  class="form-label"
                >Description</label>
                <div class="input-group has-validation">
                  <input
                    type="text"
                    class="form-control"
                    id="boxDescription"
                    placeholder="Description"
                    name="description"
                    value="{{box.description}}"
                    required
                  />
                  <div class="invalid-feedback">
                    Box description is required.
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <label for="country" class="form-label">Release Month</label>
                <select
                  class="form-select"
                  id="releaseMonth"
                  name="releaseMonth"
                  value="{{box.releaseMonth}}"
                  required
                >
                  <option value="">Choose...</option>
                  <option>Jan</option>
                  <option>Feb</option>
                  <option>Mar</option>
                  <option>Apr</option>
                  <option>May</option>
                  <option>Jun</option>
                  <option>Jul</option>
                  <option>Aug</option>
                  <option>Sep</option>
                  <option>Oct</option>
                  <option>Nov</option>
                  <option>Dec</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid release month.
                </div>
              </div>

              <div class="col-md-3">
                <label for="state" class="form-label">Release Year</label>
                <input
                  class="form-control"
                  id="releaseYear"
                  name="releaseYear"
                  value="{{box.releaseYear}}"
                  required
                />
                <div class="invalid-feedback">
                  Please select a valid release year.
                </div>
              </div>

              <div class="col-md-6">
                <label for="imageUrl" class="form-label">Upload Image</label>
                <input
                  class="form-control"
                  type="file"
                  name="imageUrl"
                  id="imageUrl"
                  value="{{box.imageUrl}}"
                />
                <input
                  class="form-control"
                  type="text"
                  name="existingImage"
                  id="existingImage"
                  value="{{box.imageUrl}}"
                  hidden
                />
                <div class="invalid-feedback">
                  Image required.
                </div>
              </div>
            </div>

            <hr class="my-4" />

            <button class="w-100 btn btn-primary btn-lg" type="submit">SAVE BOX</button>
          </form>
        </div>
      </form>

    </div>
    <footer>&copy; Coffee In A Box | 2022</footer>
  </body>
</html>